.body {
  padding: 0 2rem 2rem 2rem;
  font-size: 1.4rem;
}

.button {
  display: block;
  border: none;
  padding: 1.5rem 0;
  font-weight: 700;
  background-color: var(--orange);
  color: white;
  border-radius: 0.5rem;
  cursor: pointer;
  text-align: center;
}

.cartPreview {
  width: 32rem;
  background-color: white;
  border-radius: 0.7rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
}

.cartPreviewContainer {
  position: absolute;
  top: 4.5rem;
  z-index: 1;
}

.description {
  margin-left: 1.5rem;
  height: 4.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--dark-grayish-blue);
}

.description strong {
  margin-left: 1rem;
}

.emptyCart {
  justify-content: center !important;
  font-weight: 700;
  color: var(--dark-grayish-blue);
}

.item {
  display: flex;
  align-items: center;
}

.item img {
  width: 5rem;
  border-radius: 0.3rem;
}

.itemContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 9rem;
}

.mobilePosition {
  display: none;
}

.title {
  font-size: 1.6rem;
  font-weight: 700;
  padding: 2rem;
  border-bottom: 0.1rem solid var(--grayish-blue);
}

@media only screen and (max-width: 1024px) {
  .cartPreviewContainer {
    display: none;
  }

  .mobilePosition {
    display: block;
    top: 8.5rem;
    right: 4.5rem;
  }
}

@media only screen and (max-width: 820px) {
  .cartPreview {
    width: 100%;
  }

  .cartPreviewContainer {
    right: 0;
    width: 100%;
    padding: 0 6rem;
    top: 8rem;
  }
}

@media only screen and (max-width: 600px) {
  .cartPreviewContainer {
    padding: 0 2rem;
  }
}
