.active {
  border-bottom: 0.4rem solid var(--orange) !important;
}

.container {
  height: 100%;
  z-index: 1;
}

.link {
  height: 100%;
  margin-right: 3rem;
  border-bottom: 0.4rem solid transparent;
}

.link a {
  color: var(--dark-grayish-blue);
  height: 100%;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  padding-top: 0.4rem;
  text-transform: capitalize;
}

.links {
  flex-grow: 1;
  display: flex;
  margin-left: 5rem;
  height: 100%;
}

.mobile {
  display: none;
}

@media only screen and (max-width: 820px) {
  .active {
    border-bottom: none !important;
    border-right: 1rem solid var(--orange) !important;
  }

  .container {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
  }

  .closeIcon {
    padding-bottom: 3rem;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: flex;
    position: absolute;
  }

  .link {
    height: auto;
    padding: 1.5rem 0;
    width: 100%;
    border-right: 1rem solid transparent;
    border-bottom: none;
    cursor: pointer;
  }

  .link a {
    color: black;
    font-weight: 700;
  }

  .links {
    flex-grow: unset;
    display: flex;
    margin: 0;
    flex-direction: column;
    padding: 3rem 0 0 3rem;
    width: 30rem;
    background-color: white;
  }

  .links a {
    margin-right: 0;
    width: 100%;
  }
}

@media only screen and (max-width: 320px) {
  .links {
    width: 20rem;
  }
}
